.create-user-page {
  padding: 2.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.create-button {
  padding: 0.5rem 1rem;
  background-color: #1e90ff;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.create-button:hover {
  background-color: #1c86ee;
}

.error {
  color: red;
}
